body {
    background-color: honeydew;
    font-family: Helvetica, sans-serif;
}

body > h1 {
    background-color: goldenrod;
    padding: 10px;
    text-align: center;
    color: white;
}


a, li {
    color: black;
    text-decoration: none;
    padding: 3px;
    list-style-type: none;
}

