<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
    {% for order in orders %}
        <a href="/orders/{{orders.index(order)}}">
            <li>{{ order.customer_name }}: {{ order.order_date }}: Quantity - {{order.quantity}} : Title - {{order.book_title}} </li>
        </a>
    {% endfor %}
    </ul>
</body>
</html>